@import "base/extends";
@import "base/animations";
@import "base/forms";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";

@import "state/Navbar";

.workspace {

  background-color: rgba(225,215,200,0.75);
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 0px;
  left: 0px;

}

/* ********** */
/* The Poster */
/* ********** */
.ar-poster {

  width: 1020px;
  height: 1020px;

  /* Center */
  position: absolute;
  top: 49.75%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fdf5ef;
  -webkit-box-shadow: 0px 3px 59px -11px rgba(41,39,35,0.4);
  -moz-box-shadow: 0px 3px 59px -11px rgba(41,39,35,0.4);
  box-shadow: 0px 3px 59px -11px rgba(41,39,35,0.4);

  background-image:url('images/paper-texture.png');
  background-repeat:no-repeat;
  background-size:100% 100%;

}

.ar-poster .item {

  position: absolute;

}

.ar-poster .item img {

  position: absolute;
  top:0px;
  left:0px;

  pointer-events: none;


/*  background-color: rgba(136, 108, 43, 0.15); */
  /* Center image on point */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* Cutout border */
  padding: 9px;
  border-radius: 19px 19px 19px 19px;
  -moz-border-radius: 19px 19px 19px 19px;
  -webkit-border-radius: 19px 19px 19px 19px;
  border: 6px dashed rgba(0,0,0,0.65);


}

.ar-poster #image img {

  max-width: 620px;
  max-height: 620px;

}

/* ************* */
/* Debug Overlay */
/* ************* */
.ar-debug {

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0px;
  left: 0px;

  background-color: rgba(0,20,25,0.4);

  color:  #07b6ca;

  z-index: 2;

}

.ar-debug h1 {
  color: #f58277;
  background-color: #ffd847;
}

.ar-debug h2,
.ar-debug h3 {
  color: #ffd847;
  background-color: #6dc2e8;
}


/* ************* */
/* Miscellaneous */
/* ************* */
.flip-h {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.flip-v {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}