@import "base/extends";
@import "base/animations";
@import "base/forms";
@import "base/debug";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";

@import "state/Navbar";

.workspace {

  background-color: rgba(225,215,200,0.75);
  background-color: #e5b562;
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 0px;
  left: 0px;

}

/* ********** */
/* The Poster */
/* ********** */
.ar-poster {

  width: 1020px;
  height: 1020px;
  /*overflow: hidden;*/

  /* Center */
  position: absolute;
  top: 49.75%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.ar-poster.show-frame {
  -webkit-box-shadow: 0px 3px 59px -11px rgba(41,39,35,0.4);
  -moz-box-shadow: 0px 3px 59px -11px rgba(41,39,35,0.4);
  box-shadow: 0px 3px 59px -11px rgba(41,39,35,0.4);

  background-color:rgba(255,255,255,0.85);
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.ar-poster .item {

  position: absolute;

}

.ar-poster .item .asset {

  position: absolute;
  top:0px;
  left:0px;

  pointer-events: none;


/*  background-color: rgba(136, 108, 43, 0.15); */
  /* Center image on point */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* Cutout border */
  /*padding: 1px;*/
/*  border-radius: 19px 19px 19px 19px;
  -moz-border-radius: 19px 19px 19px 19px;
  -webkit-border-radius: 19px 19px 19px 19px;
  border: 6px dashed rgba(0,0,0,0.75);*/


}

.ar-poster .center-overlay {

  position: absolute;
  width: 100%;
  height: 100%;

  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
  transform: translate(50%, 50%);

}

.ar-poster .center-overlay img {

  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.ar-poster .item #arrows {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;

}

.ar-poster #arrows #label {

  position: absolute;
  top:0px;
  left:0px;
  width:360px;

  font-weight: 300;

  color: rgba(255,0,0,0.9);
  background-color: rgba(255,255,255,0.8);

  pointer-events: none;
  text-align: center;

  /* Center label on point */
  -moz-transform: translate(-50%, -225%);
  -ms-transform: translate(-50%, -225%);
  -o-transform: translate(-50%, -225%);
  transform: translate(-50%, -225%);

}

.ar-poster .item #arrows img.right {

  position: absolute;
  top:0px;
  left:0px;

  pointer-events: none;

  /* Center image on point */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.ar-poster .item #arrows img.left {

  position: absolute;
  top:0px;
  left:0px;

  pointer-events: none;

  /* Center image on point */
  -webkit-transform: translate(-50%, -50%) scaleX(-1);
  -moz-transform: translate(-50%, -50%) scaleX(-1);
  -ms-transform: translate(-50%, -50%) scaleX(-1);
  -o-transform: translate(-50%, -50%) scaleX(-1);
  transform: translate(-50%, -50%) scaleX(-1);

}

/* Todo - sizes should be restrained in source asset to prevent scaling in multiple places */
.ar-poster .item .asset {

  width: 890px;

}

/* ************* */
/* Debug Overlay */
/* ************* */
$debug-gold: #ffd847;
$debug-light-blue: #6dc2e8;
$debug-salmon: #f58277;
$debug-turqoise: #07b6ca;
$debug-purple: #9178ea;

$debug-gray: rgba(33,44,55, 0.6);
$debug-white: rgba(255,255,255, 1.0);

.ar-debug {

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0px;
  left: 0px;

  background-color: $debug-gray;
  color:  $debug-turqoise;

  z-index: 2;

}

.ar-debug h1 {
  color: $debug-salmon;
  background-color: $debug-gold;
}

.ar-debug h2,
.ar-debug h3 {
  color: $debug-gold;
  background-color: $debug-light-blue;
}

.ar-debug #all-options {
  position: absolute;
  top: 140px;
  left: 1482px;
}


.ar-debug #cam-selection {
  position: absolute;
  top: 440px;
  left: 1482px;
}

.ar-debug #background-selection {
  position: absolute;
  top: 750px;
  left: 1482px;
}

.ar-debug #toggles-example {
  position: absolute;
  top: 900px;
  left: 500px;
}

.debug-settings-group {

  color: $debug-turqoise;
  background-color: $debug-gold;

  -webkit-box-shadow: 1px 9px 33px -4px rgba(25,30,31,0.2);
  -moz-box-shadow: 1px 9px 33px -4px rgba(25,30,31,0.2);
  box-shadow: 1px 9px 33px -4px rgba(25,30,31,0.2);

}

.debug-settings-group .label {

  color: $debug-salmon;
  background-color: $debug-gold;

}

.setting-label {
  color: $debug-white;
  font-size: 1.6em;
  padding-left: 14px;
  padding-right: 18px;
  font-weight: 100;
  letter-spacing: 0.08em;
}

.debug-toggle {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.debug-setting{
  background-color: $debug-turqoise;
  padding:0px;
}

.setting-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background: $debug-turqoise;
  /*background-color: rgba(255,255,255,0.1);*/
  border: none;
  color: $debug-white;
  cursor: pointer;
  display: inline-block !important;
  outline: none;
  position: relative;
  margin-right: 0.5rem;
  z-index: 1000;
  border: 1px solid $debug-white;
}

.setting-input:hover {
  background: rgba(0,5,7,0.05);
}

.setting-input:active {
  background: $debug-gray;
}

.setting-input:checked {
  background: $debug-turqoise;
}

.setting-input:checked::before {
  width: 40px;
  height: 40px;
  position: absolute;
  content: '\2716';
  display: inline-block !important;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
  color: white;
}

.setting-input.radio {
  border-radius: 50%;
}

.setting-input.radio::after {
  border-radius: 50%;
}


/* ********** */
/* The Placrd */
/* ********** */
.placard {

  width: 800px;
  height: 600px;
  overflow: hidden;
  background-color: black;
  left: 0px;
  top:0px;
  position: absolute;
}

.placard .ad-carousel img {

  height: 600px;
  overflow: hidden;

  /* Center */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);

}

.placard .ad-carousel p {

  /* Center */
  position: absolute;
  color:rgba(255,255,255,0.9);
  font-size: 11px;
  width: 100%;
  text-align: center;

}

.placard .ad-carousel span.highlight {
  /*color: rgba(255,0,0,0.9);*/
  /*text-decoration: underline;*/
}

.placard .ad-carousel p.time {
  top: 23px;
}

.placard .ad-carousel p.slug {
  bottom: 14px;
}



/* ************* */
/* Miscellaneous */
/* ************* */
.flip-h {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.flip-v {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

