@font-face {
  font-family: 'Avenir Next Condensed Regular';
  src: url('/fonts/AvenirNextCondensed-Regular.woff') format('woff'),
  url('/fonts/AvenirNextCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed Italic';
  src: url('/fonts/AvenirNextCondensed-Italic.woff') format('woff'),
  url('/fonts/AvenirNextCondensed-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Condensed Medium';
  src: url('/fonts/AvenirNextCondensed-Medium.woff') format('woff'),
  url('/fonts/AvenirNextCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed Medium Italic';
  src: url('/fonts/AvenirNextCondensed-MediumItalic.woff') format('woff'),
  url('/fonts/AvenirNextCondensed-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Condensed Bold';
  src: url('/fonts/AvenirNextCondensed-Bold.woff') format('woff'),
  url('/fonts/AvenirNextCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed Bold Italic';
  src: url('/fonts/AvenirNextCondensed-BoldItalic.woff') format('woff'),
  url('/fonts/AvenirNextCondensed-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Condensed Bold Italic 1';
  src: url('/fonts/AvenirNextCondensed-BoldItalic_1.woff') format('woff'),
  url('/fonts/AvenirNextCondensed-BoldItalic_1.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Condensed Heavy';
  src: url('/fonts/AvenirNextCondensed-Heavy.woff') format('woff'),
  url('/fonts/AvenirNextCondensed-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed Heavy Italic';
  src: url('/fonts/AvenirNextCondensed-HeavyItalic.woff') format('woff'),
  url('/fonts/AvenirNextCondensed-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Condensed Demi Bold';
  src: url('/fonts/AvenirNextCondensed-DemiBold.woff') format('woff'),
  url('/fonts/AvenirNextCondensed-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed Demi Bold Italic';
  src: url('/fonts/AvenirNextCondensed-DemiBoldItalic.woff') format('woff'),
  url('/fonts/AvenirNextCondensed-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Condensed Ultra Light';
  src: url('/fonts/AvenirNextCondensed-UltraLight.woff') format('woff'),
  url('/fonts/AvenirNextCondensed-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed Ultra Light Italic';
  src: url('/fonts/AvenirNextCondensed-UltraLightItalic.woff') format('woff'),
  url('/fonts/AvenirNextCondensed-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
